.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  height: 100px;
  width: 700px;
  margin-left: 700px;
}

.popup-container {
  margin-left: 410px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 140px;
  position: relative;
  z-index: 1;
  


}

.input-container {
  display: fixed;
  position: fixed;
  margin-top: 20px;
  width: 500px;
}

.popup-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 300px;
  flex-wrap: wrap;
}

.citation-text {
  margin-top: 16px;
}
